@import url("https://fonts.googleapis.com/css 2?family=Cabin&display=swap");
@import "../../scss/variables/_colors.scss";

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: $backgroundSecondaryDark;
}

.heading {
  color: $textprimary;
}
